*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#fff(218, 27%, 94%, 0.976);
    overflow-x: hidden;
    font-family: sans-serif;
   
}
.container{
   
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100vh;

}
.logo{
    /* margin-right: 50%; */
    font-size: 50px;
    font-weight: 800;
    margin:  auto 50% auto 0;
}
.logo a{
    color: #185bcf;
}
.block{
    background-color: #185bcf;
    width: 90%;
    height: 90vh;
    border-radius: 30px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #174173;
}
.nav p a{
    color: #fff;
    transition: .2s;
    position: relative;
    padding-right: 20px;
    text-align: center;
}
.nav p a:hover{
    color: #b2bcd3;
  
}
.nav p a::after{
    content: "";
    position: absolute;
    width:95px;
    height: 3px;
    border-radius: 20px;
   
    left: -5px;
    top: 120%;
    margin-left: 1px;
}

.nav a:hover::after{
    background-color: #2251bc;
}

.nav p:nth-child(1) a:after{
    background-color: #fff;
}
p{
    padding: 0 20px;
    font-size: x-large;
    margin: 0 10px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
.text p{
    font-size: 80px;
    padding: 90px 20px;
   
}
.text{
    display: flex;
    justify-content: space-around;
  /*  padding-left: 10%;
    padding-top: 5%;*/
    padding: 80px 20px;

}
span{
    color: #174173;
}



